@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap");

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.auction_details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.animal_image {
  width: 65%;
  margin-top: 45px;
  position: relative;
}

.animal_image img {
  width: 90%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
} 

.animal_image img.moo_picture {
  opacity: 1;
}
 
.details {
  width: 35%;
  margin-top: 40px;
}

.description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
  font-family: 'Montserrat', sans-serif;
}
.description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

